<div id="map"></div>
<% if admin_signed_in? %>
    <%= link_to 'Создать', new_review_path %>
<% end %>
<% @restaurants.reverse.each do |rest| %>
    <div class="revprev">
        <h2><%= rest.name %></h2>
        Адрес: <%= rest.address %><br />
        <%= rest.review.truncate(100) %><br /><br />
        Кухня: <span id="<%= rest.id %>mark1"></span><br />
        Интерьер: <span id="<%= rest.id %>mark2"></span><br />
        Обслуживание: <span id="<%= rest.id %>mark3"></span><br />
        Общая оценка: <span id="<%= rest.id %>avgrate"></span> (<%= rest.avgrate %> из 5)<br /><br />
        Дата публикации: <%= rest.created_at.strftime("%-d, %B %Y") %>
        <%= link_to 'Открыть', review_path(rest) %>
        <% if admin_signed_in? %>
            | <%= link_to 'Отредактировать', edit_review_path(rest) %> | 
            <%= link_to 'Удалить', review_path(rest), method: :delete, data: {} %>
        <% end %>
    </div>
<% end %>