<!-- VIDEO -->
	<div class="intro-text">
		<div id="mp-bg"></div>
		<%= video_tag ["header.webm", "header.mp4", "header.ogv"], poster: "res.jpg", loop: 'true', autoplay: 'true', class: 'bgvideo', id: 'bgvideo' %>
		<div class="txt-block">
			<div class="intro-lead-in">Добро пожаловать в RESTguide!</div>
			<div class="intro-heading">Проведи время</div>
			<a href="#content" id="dowm">с удовольствием!</a>
		</div>
	</div>
	<!-- END VIDEO -->
<!-- CONTENT -->
<div class="content" id="content">
	 <!-- C-MAIN -->
	<div class="c-main container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="c-title">
					<h2>Выбирай лучшие рестораны</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
				<div id="map"></div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 top10">
				<div class="top-rest">
					<table class="table">
						<% @top10.each do |rest| %>
							<tr class="clearfix">
								<td class="rest-name"><%=link_to rest.name, review_path(rest) %></td>
								<td><span class="<%= rest.id %>avgrate star"></span></td>
								<td class="rating"><%= rest.avgrate.round(1) %> / 5.0</td>
							</tr>
						<% end %>
					</table>
				</div>
			</div>
		</div>
		<div class="reviews"> <!-- REVIEWS -->
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="c-title">
						<h2>Каталог заведений:</h2>
					</div>
				</div>
			</div>
			<div class="restaurants"><!-- RESTAURANTS -->
        <div id="rs"><%= render "rs" %></div>
       <%= paginate @rs , :remote => true  %>
      </div><!-- END RESTAURANTS -->
  	</div><!-- END REVIEWS -->
	</div><!-- END C-MAIN -->
</div><!-- END CONTENT -->
