<img class="img-responsive headimg" src="assets/header.jpg" alt="RESTGUIDE">
<div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#responsive-menu">
            <span class="sr-only">Открыть навигацию</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="responsive-menu">
        <ul class="nav navbar-nav">
            <li><a href="#">Главная</a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
        <%= form_tag root_path, :method => 'get', :id => "reviews_search", :class => "navbar-form navbar-left" do %>
            <p class="form-group">
                <%= text_field_tag :search, params[:search], :class => "form-control" %>
                <%= submit_tag "Найти", :name => nil, :class => "btn btn-default" %>
            </p>
            <%= hidden_field_tag :sort, params[:sort] %>
        <% end %>
    </div>
</div>
<div class="container content">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">Restguide <small>Рестораны, кафе, бары...</small></h1>
        </div>
    </div>
    <div>
        <div class="col-sm-7">
            <div id="map"></div>
        </div>
        <br />
        <div class="sol-sm-5 top10">
            <h3 class="hh">Лучшие рестораны</h3>
            <table class="table">
                <% @restaurants.sort { |a,b| b.avgrate <=> a.avgrate }.first(10).each do |rest| %>
                    <tr><td><a href="#"><%= rest.name %></a></td><td><span class="<%= rest.id %>avgrate"></span></td></tr>
                <% end %>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 c-main">
            <h1 class="">Каталог заведений:</h1>
            <%= link_to 'Написать новую рецензию', new_review_path if admin_signed_in? %>
        </div>
    </div>
    <% @restaurants.search(params[:search]).reverse.each do |rest| %>
        <div class="row">
            <div class="col-sm-5">
                <a href="#"><%= cl_image_tag(rest.photos.first.path, {size: '500x250', crop: :fit, class: "img-responsive"}) if rest.photos.first != nil %></a>
            </div>
            <div class="col-sm-4">
                <div>
                    <h3><%= rest.name %></h3>
                    <h4><%= rest.address %></h4>
                    <p><%= rest.review.truncate(300) %></p>
                </div>
                <div class="text-center">
                    <%= link_to 'Подробнее', review_path(rest), :class => "btn btn-primary" %>
                    <% if admin_signed_in? %>
                        <%= link_to 'Редактировать', edit_review_path(rest), :class => "btn btn-success" %>
                        <%= link_to 'Удалить', review_path(rest), method: :delete, data: {}, :class => "btn btn-danger" %>
                    <% end %>
                </div>
            </div>
            <div class="col-sm-3">
                <table>
                    <tr>
                        <td>Кухня:</td><td><span class="<%= rest.id %>mark1"></span></td>
                    </tr>
                    <tr>
                        <td>Интерьер:</td><td><span class="<%= rest.id %>mark2"></span></td>
                    </tr>
                    <tr>
                        <td>Обслуживание:</td><td><span class="<%= rest.id %>mark3"></span></td>
                    </tr>
                    <tr>
                        <td>Общая оценка:</td><td><span class="<%= rest.id %>avgrate"></span><br /><%= rest.avgrate.round(1) %> из 5.0</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr />
    <% end %>
</div>
