<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Restguide</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><%= link_to 'Создать', new_review_path if admin_signed_in? %></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- Page Content -->
<div class="container">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Restguide <small>Рестораны, кафе, бары...</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div id="map"></div>
        </div>
        <div class="col-md-5">
        </div>
    </div>
    <hr />
    <!-- /.row -->
    <% @restaurants.reverse.each do |rest| %>
        <div class="row">
            <div class="col-md-5">
                <a href="#"><img class="img-responsive" src="http://placehold.it/700x300" alt=""></a>
            </div>
            <div class="col-md-4">
                <h3><%= rest.name %></h3>
                <h4><%= rest.address %></h4>
                <p><%= rest.review.truncate(300) %></p>
                <!--<span class="glyphicon glyphicon-chevron-right"></span> -->
            </div>
            <div class="col-md-3">
                <table>
                    <tr>
                        <td>Кухня:</td><td><span id="<%= rest.id %>mark1"></span></td>
                    </tr>
                    <tr>
                        <td>Интерьер:</td><td><span id="<%= rest.id %>mark2"></span></td>
                    </tr>
                    <tr>
                        <td>Обслуживание:</td><td><span id="<%= rest.id %>mark3"></span></td>
                    </tr>
                    <tr>
                        <td>Общая оценка:</td><td><span id="<%= rest.id %>avgrate"></span><br /><%= rest.avgrate.round(1) %> из 5.0</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5"></div>
            <div class="col-lg-4">
                <div class="text-center">
                    <%= link_to 'Открыть', review_path(rest), :class => "btn btn-primary" %>
                    <% if admin_signed_in? %>
                        <%= link_to 'Отредактировать', edit_review_path(rest), :class => "btn btn-primary" %>
                        <%= link_to 'Удалить', review_path(rest), method: :delete, data: {}, :class => "btn btn-primary" %>
                    <% end %>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <!-- /.row -->
        <hr>
    <% end %>
    <!-- Footer -->
</div>
<!-- /.container -->