<%= form_for @review, :html => {:class => "review-form"} do |f| %>
	<% if @review.errors.any? %>
		<div id="error_explanation">
			<h2>Невозможно сохранить статью по следующим причинам:</h2>
			<ul>
				<% @review.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<h1 class="block-title">Новая рецензия</h1>
		<div class="row clearfix">
			<div class="nr-map col-xs-12 col-sm-12 col-md-7 col-lg-7">
				<div id="map"></div>
			</div>
			<div class="nr-inp col-xs-12 col-sm-12 col-md-5 col-lg-5">
			<div class="form-group">
				<div class="field">
				<%= f.label :address *%><br />
				<%= f.text_field :address, :class => "form-control" %><br />
				</div>
			</div>
			<div class="form-group">
				<div class="field">
				<%= f.label :name %>*<br />
				<%= f.text_field :name, :class => "form-control" %><br />
				</div>
			</div>
			<div class="form-group">
				<div class="field">
				<%= f.label :review %>*<br />
				<%= f.text_area :review, :class => "form-control" %><br />
				</div>
			</div>
			<div class="form-group">
				<div class="field">
				<%= f.label :comment %>*<br />
				<%= f.text_field :comment, :class => "form-control" %><br />
				</div>
			</div>
      <div class="form-group">
				<div class="field">
      <%= f.label :keywords %><br />
      <%= f.text_field :keywords %><br />
      <div id="keywords">Кафе, бары, рестораны </div>
        </div>
      </div>
 			<div class="form-group">
				<div class="field">
				<%= f.label :mark1 %>*: <span class="mark1"></span><br />
				<%= f.label :mark2 %>*: <span class="mark2"></span><br />
				<%= f.label :mark3 %>*: <span class="mark3"></span><br />
				</div>
			</div>
				<%= f.hidden_field :x, :id=> "lat" %>
				<%= f.hidden_field :y, :id=> "lng" %>
				<%= f.hidden_field :mark1 %>
				<%= f.hidden_field :mark2 %>
				<%= f.hidden_field :mark3 %>
				<%= f.attachinary_file_field :photos %>
				<%= f.submit %>
			</div>
		</div>
<% end %>
