
<%= form_for @review do |f| %>
    <% if @review.errors.any? %>
        <div id="error_explanation">
            <h2>Невозможно сохранить статью по следующим причинам:</h2>
            <ul>
                <% @review.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <%= f.label :address %><br />
                <%= f.text_field :address %><br />
                <%= f.label :name %><br />
                <%= f.text_field :name %><br />
                <%= f.label :review %><br />
                <%= f.text_area :review %><br />
                <%= f.label :comment %><br />
                <%= f.text_field :comment %><br />
                <%= f.text_field :keywords %><br />
                <%= f.label :keywords %><br />
                <%= f.label :mark1 %>: <span class="mark1"></span><br />
                <%= f.label :mark2 %>: <span class="mark2"></span><br />
                <%= f.label :mark3 %>: <span class="mark3"></span><br />
                <%= f.hidden_field :x, :id=> "lat" %>
                <%= f.hidden_field :y, :id=> "lng" %>
                <%= f.hidden_field :mark1 %>
                <%= f.hidden_field :mark2 %>
                <%= f.hidden_field :mark3 %>
                <%= f.attachinary_file_field :photos %>
                <%= f.submit %>
            </div>
            <div class="col-lg-7">
                <div id="map"></div>
            </div>
        </div>
    </div>
<% end %>
