<script type="text/javascript" src="http://vk.com/js/api/share.js?92" charset="windows-1251"></script>
<div class="content">
	<div class="res-review">
		<div class="container clearfix">
			<div class="row">
				<div class="col-xs-12">
					<h1 class="rr-title"><%= @review.name %></h1>
				</div>
			</div>
			<div class="row">
				<div class="rrc-img col-xs-12 col-sm-6">
					<%= link_to cl_image_tag(@review.photos.first.path, {size: '700x300', class: "img-responsive"}) , cl_image_path(@review.photos.first.path), :rel => "lightbox-review" if @review.photos.first != nil  %>
					<% if @review.photos.length > 1
						@review.photos.take(@review.photos.length - 1).each do |phot| %>
						<%= link_to cl_image_tag(phot.path, {size: '100x50', crop: :fit}) , cl_image_path(phot.path), :rel => "lightbox-review" %>
						<%end
						end%>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div id="map"></div>
				</div>
			</div>
			<div class="row">
				<div class="rcc-info col-xs-12 col-sm-6 clearfix">
					<div class="categ">
						<div class="cat clearfix">
							<p class="cat-title">Адрес:</p>
							<div class="cat-info">
								<%= @review.address %>
							</div>
						</div>
						<div class="cat clearfix">
							<p class="cat-title">Кухня:</p>
							<div class="cat-info">
								<span class="<%= @review.id %>mark1"></span>(<%= @review.mark1 %> из 5)
							</div>
						</div>
						<div class="cat clearfix">
							<p class="cat-title">Интерьер:</p>
							<div class="cat-info">
								<span class="<%= @review.id %>mark2"></span>(<%= @review.mark2 %> из 5)
							</div>
						</div>
						<div class="cat clearfix">
							<p class="cat-title">Обслуживание:</p>
							<div class="cat-info">
								<span class="<%= @review.id %>mark3"></span>(<%= @review.mark3 %> из 5)
							</div>
						</div>
						<div class="cat clearfix total-sum">
							<p class="cat-title">Общая оценка:</p>
							<div class="cat-info">
								<span class="<%= @review.id %>avgrate"></span>(<%= @review.avgrate.round(1) %> из 5)
							</div>
						</div>
						<div class="cat clearfix share">
							<p class="cat-title">Поделиться:</p>
							<div class="cat-info">
								<script type="text/javascript">
								document.write(VK.Share.button(false,{type: "custom", text: "<img src=\"http://vk.com/images/share_32_eng.png\" width=\"32\" height=\"32\" />", eng: 1}));
								</script>
								<a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %> target="_blank>
									<img src="http://blog.bnv.com.ua/wp-content/themes/cell/images/fb.png">
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 rr-descr">
					<div class="rrd-date"><span>Дата публикации: </span>
						<%= @review.created_at.strftime("%-d, %B %Y") %>
					</div>
					<div class="rrd-txt"><%= @review.review %></div>
				</div>
			</div>
		</div>
	</div>
	<script>rate( gon.restaurant, true) </script>
	<%= javascript_include_tag "custom" %>
	<!-- END REVIEWS -->
</div>
