<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Restguide</title>
  <%= favicon_link_tag 'favicon.ico' %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<script src="https://maps.googleapis.com/maps/api/js?language=ru-RU"></script>
	<%= stylesheet_link_tag 'application', params[:controller], media: 'all', 'data-turbolinks-track' => true %>
	<%= Gon::Base.render_data %>
	<%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>
	<%= javascript_include_tag "mainPage" %>
	<%= cloudinary_js_config %>
	<%= csrf_meta_tags %>
</head>
<body>
	<!-- HEADER -->
	<div class="header">
		<div class="top-nav">
			<nav class="navbar-inverse navbar-fixed-top">
					<div class="navbar-header">
						<a class="navbar-brand" href=<%=root_path%>> <img alt="RG" src=<%= asset_path('assets/RG2.gif') %>></a>
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#responsive-menu">
							<span class="sr-only">Открыть навигацию</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="responsive-menu">
						<ul class="nav navbar-nav">
							<li><%= link_to 'Главная', root_path %></li>
							<li><%= link_to 'О нас', "#portfolioModal1", :class => "portfolio-link", "data-toggle" => "modal" %></li>
							<li><%= link_to 'Контакты',"#portfolioModal2", :class => "portfolio-link", "data-toggle" => "modal" %></li>
							<li><%= link_to 'Новая рецензия', new_review_path if admin_signed_in? %></li>
              <li><%= link_to 'Выйти', destroy_admin_session_path, :method => :delete if admin_signed_in? %></li>
            </ul>

            <%= if params[:controller]=='mainpage' and ((params[:action]=='index') or (params[:action]=='search')) then form_tag({controller: "mainpage", action: "search"}, remote:true, enforce_utf8: true, method:'get', id: "reviews_search", class: "navbar-form navbar-left")  do
  %>
						<div class="form-group">
							<%= text_field_tag :search, params[:search], :class => "form-control" %>
							<%= submit_tag "Найти", :name => nil, :class => "btn btn-default" %>
						</div>
          </div>
            <% end %>
          <% end %>

			</nav>
		</div>
	</div>
	<!-- END HEADER -->
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<%= yield %>
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  	<div class="modal-content">
  		<div class="container">
        <div class="row modal-body">
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-5 col-md-offset-5 col-lg-offset-5 col-sm-offset-5">
            <h2>О нас</h2>
           </div>
        </div>
  			<div class="row modal-body">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  					<img src=<%= asset_path('dem.jpg')%> class="img-responsive mentor-img" alt="Александр Демура">
  				</div>
  				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  					<!-- Project Details Go Here -->
  					<h3>Глава команды RestGuide и старший ресторанный критик. Большую часть своего времени проводит в офисе занимаясь организаторской деятельностью и распределением финансов. При дигустации особенно критичен к чипсам.</h3>
  				</div>
        </div>
        <div class="row modal-body">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  					<img src=<%= asset_path('lac.jpg')%> class="img-responsive mentor-img" alt="Виталий Лакур">
  				</div>
  				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  					<!-- Project Details Go Here -->
  					<h3>Ресторанный критик широкого профиля. Как и в программировании, Он не ограничивает себя в развитии. Способен продегустировать все что угодно. Является по первому зову (если конечно захочет и уже отошел от предыдущей дегустации). </h3>
  				</div>
        </div>
        <div class="row modal-body">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <img src=<%= asset_path('leb.jpg')%> class="img-responsive mentor-img" alt="Виталий Лебедев">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <!-- Project Details Go Here -->
          <h3>Кошмар наяву для ночных клубов. Виртуозно инспектирует кухню, бар и танцпол (обычно в такой последовательности). Любитель всего нового и необычного. Не единожды проводил парное дегустирование, чем породил многочисленные споры среди ресторанных критиков. </h3>
        </div>
      </div>
      <div class="row modal-body">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <img src=<%= asset_path('fed.jpg')%> class="img-responsive mentor-img"  alt="Юрий Федоренко">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <!-- Project Details Go Here -->
          <h3>Настоящий профессионал своего дела! Рестораторам приходится с боем добывать каждую звезду, полученную от Него. Известен своей внимательностью не только к кухне, но и к обслуживанию и особенно интерьеру. </h3>
        </div>
      </div>
      <div class="row modal-body">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <img src=<%= asset_path('sel.jpg')%> class="img-responsive mentor-img" alt="Андрей Сильчук">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <!-- Project Details Go Here -->
          <h3>Один из самых необычных ресторанных критиков в истории. Пишет рецензию на всех этапах дегустации. А так же единственный ревизор который проводит Автоматизированную и Регрессионную дегустацию. </h3>
        </div>
      </div>
        <div class="row modal-body">
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-5 col-md-offset-5 col-lg-offset-5 col-sm-offset-5">
        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть</button>
      </div>
      </div>
  		</div>
  	</div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  	<div class="modal-content">
  		<div class="container">
        		<div class="row modal-body">
              <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xs-offset-4 col-md-offset-4 col-lg-offset-4 col-sm-offset-4">
               <h2>Ukraine, RESTguide </h2>
              </div>
            </div>
  			<div class="row modal-body">
  				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
  						<!-- Project Details Go Here -->
  							<p class="item-intro text-muted">Home office</p>
  						<iframe style="width:768px;height:380px;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?hl=en&q= DataArt, ODESSA,&ie=UTF8&t=roadmap&z=13&iwloc=B&output=embed"></iframe>
  				</div>
          <div class="row modal-body">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-5 col-md-offset-5 col-lg-offset-5 col-sm-offset-5">
             <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть</button>
            </div>
          </div>
        </div>
  			</div>
  		</div>
  	</div>
  </div>

	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<span class="copyright">Copyright &copy; Restguide. 2015</span>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
					<span class="copyright">Folgen Team</span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
