<!DOCTYPE html>
<html>
<head>
 <title>Restguide</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta name="description" content="">
 <meta name="author" content="">
 <script src="https://maps.googleapis.com/maps/api/js?language=ru-RU"></script>
 <%= stylesheet_link_tag 'application', params[:controller] + params[:action], media: 'all', 'data-turbolinks-track' => true %>
 <%= Gon::Base.render_data %>
 <%= javascript_include_tag 'application', params[:controller] + params[:action], 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
</body>
</html>